
# Ignore Dogs vs Cats dataset
labfolder/*
# Ignore Dogs vs Cats dataset
..\Data	rain	rain/*
# Ignore Dogs vs Cats dataset
..\Data	rain	rain/*
# Ignore Dogs vs Cats dataset
..\Data	rain/*
# Ignore Dogs vs Cats dataset
..\Data	rain	rain
# Ignore Dogs vs Cats dataset
..\Data	rain	rain
# Ignore Dogs vs Cats dataset
..\Data	rain	rain
# Ignore Dogs vs Cats dataset
..\data	rain
